
header{


    nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: 500;

        img[alt="my logo"]{
            object-fit: cover;
            padding-inline: 2rem;
            cursor: pointer;
        }

        ul{
            display: flex;
            list-style: none;
            width: 100%;
            margin-left: 2rem;

            .nav-item{
                margin: 0 1rem;
                position: relative;
                cursor: pointer;
                color: $grey;
                padding-block: 1.5rem;


                &:hover{
                    color: $black;
                }

                
                .arrow-up{
                    display: none;
                }
                
                .dropdown-items{
                    position: absolute;
                    display: none;
                }
                &:focus{
                    .dropdown-items{
                        display: block;
                    }
                    img{
                        display: none;
                    }
                    .arrow-up{
                        display: inline;
                    }
                } 
            }

            .login-register{
                display: flex;
                flex-direction: row;
                margin-left: auto;
                align-items: center;
                padding: 0;
                & .register{
                    box-sizing: border-box;
                    margin-inline: 1rem;
                    border: 2px solid $black;
                    padding: .5rem 1rem;
                    border-radius: .8rem;
                }
                & .login{
                    margin-inline: 1rem;
                }
            }

        }
    }

}