$white:hsl(0, 0%, 98%);
$black:hsl(0, 0%, 8%);
$grey:hsl(0, 0%, 41%);
$p-fontsize:18px;
@font-face {
    font-family: Epilogue;
    src: url(https://fonts.google.com/specimen/Epilogue);
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Epologue, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 500;
}

body{
    background-color: $white ;
}

@import './header' ;
@import './home' ;

@import './header-res';
@import './home-res' ;
@import './anim' ;