@font-face {
  font-family: Epilogue;
  src: url(https://fonts.google.com/specimen/Epilogue);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Epologue, "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 500;
}

body {
  background-color: hsl(0deg, 0%, 98%);
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
}
header nav img[alt="my logo"] {
  object-fit: cover;
  padding-inline: 2rem;
  cursor: pointer;
}
header nav img[alt="menu icon"] {
  display: none;
  object-fit: cover;
  padding-inline: 2rem;
  cursor: pointer;
  margin-left: auto;
}
header nav img[alt="menu icon"]:hover {
  background-color: rgb(244, 244, 244);
  border-radius: 2rem;
}
header nav ul {
  display: flex;
  list-style: none;
  width: 100%;
  margin-left: 2rem;
}
header nav ul .nav-item {
  margin: 0 1rem;
  position: relative;
  cursor: pointer;
  color: hsl(0deg, 0%, 41%);
  padding-block: 1.5rem;
}
header nav ul .nav-item:hover {
  color: hsl(0deg, 0%, 8%);
}
header nav ul .nav-item .arrow-up {
  display: none;
}
header nav ul .nav-item .dropdown-items {
  position: absolute;
  display: none;
  width: max-content;
  height: max-content;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  top: 90%;
  z-index: 100;
}
header nav ul .nav-item .dropdown-items .item {
  margin: 1rem 0;
}
header nav ul .nav-item .dropdown-items .item img {
  margin-inline: 0.8rem;
}
header nav ul .nav-item:focus .dropdown-items {
  display: block;
}
header nav ul .login-register {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  align-items: center;
  padding: 0;
}
header nav ul .login-register .register {
  box-sizing: border-box;
  margin-inline: 1rem;
  border: 2px solid hsl(0deg, 0%, 8%);
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
}
header nav ul .login-register .login {
  margin-inline: 1rem;
}

.home {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 3rem 8%;
}
.home .home-txt {
  flex-basis: 100%;
}
.home .home-txt h1 {
  font-size: 6rem;
  line-height: 6rem;
}
.home .home-txt p {
  color: hsl(0deg, 0%, 41%);
  margin-top: 3rem;
  letter-spacing: 1px;
}
.home .home-txt button {
  margin-top: 3rem;
  background-color: hsl(0deg, 0%, 8%);
  color: hsl(0deg, 0%, 98%);
  border-radius: 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
}
.home .home-txt .companies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 6rem;
}
.home .home-txt .companies img {
  object-fit: contain;
  margin-right: 2rem;
}
.home .home-img {
  flex-basis: 100%;
  width: 80%;
}

@media (max-width: 772px) {
  header nav img {
    padding: 1rem;
  }
  header nav #menu {
    display: initial;
    z-index: 101;
  }
  header nav ul {
    align-items: flex-start;
    padding-top: 2rem;
    position: fixed;
    left: 100%;
    top: 0;
    flex-direction: column;
    height: 100%;
    width: 70%;
    transition: transform 0.1s linear;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  header nav ul .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 1rem;
  }
  header nav ul .nav-item .dropdown-items {
    position: relative;
    display: none;
    top: 0;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
  }
  header nav ul .nav-item .dropdown-items .item {
    padding: 0;
  }
  header nav ul .nav-item .dropdown-items .item img {
    margin: 0;
  }
  header nav ul .nav-item:focus .dropdown-items {
    display: block;
  }
  header nav ul .nav-item img {
    padding: 0 0.3rem;
  }
  header nav ul .login-register {
    flex-direction: column;
    margin-left: 0;
    margin-top: 2rem;
    justify-content: center;
    align-self: center;
  }
  header nav ul .login-register .login, header nav ul .login-register .register {
    display: block;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 1100px) {
  .home {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 0%;
  }
  .home .home-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home .home-txt h1 {
    width: 100%;
    font-size: 3rem;
    text-align: center;
  }
  .home .home-txt h1 .br {
    display: none;
  }
  .home .home-txt p {
    text-align: center;
  }
  .home .home-img {
    width: 100%;
    margin: 0;
  }
}
@keyframes nav-anim {
  0% {
    display: block;
  }
  1% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
